<div class="header">
    <div class="fl-space-between">
        <div class="fl-space-between">
            <div>
                <p class="version">Version {{version}}</p>
                <h6 class="title mt-2">Smart System Validator</h6>
            </div>
            <div>
                <h6 class="company mt-3">Globel Engineering Management GEM</h6>
            </div>
        </div>
        <div class="fl-space-between right-content">
            <div class="fl-space-between">
                <div class="mt-1">
                    <img src="../../../assets/icons/person.svg" alt="">
                </div>
                <div>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                John Doe
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <img height="30px" width="100px" src="../../../assets/images/logo.jpeg" alt="">
            </div>
        </div>
    </div>
</div>