:root {
    /** primary **/
    --primary: #3ecb5a !important;
    --primary: #ffffff ;
    --primary-shade: #37b34f;
    --primary-tint: #51d06b;

    /** secondary **/
    --secondary: #636469 !important;
    --secondary: #ffffff;
    --secondary-shade: #57585c;
    --secondary-tint: #737478;
}