<div class="dashboard-container">
    <!---------header-------->
    <app-header></app-header>
    <div class="row">
        <div class="col-1">
            <!---------sidebar-------->
            <app-side-nav (sideNav)="getSelectedSideNav($event)"></app-side-nav>
        </div>
        <div class="col-11">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb p-3">
                    <li class="breadcrumb-item"><span>{{seletectSideNavbar ? seletectSideNavbar : 'Reports'}}</span>
                    </li>
                    <li *ngIf="seletectSideNavbar != 'Home' " class="breadcrumb-item active" aria-current="page">
                        {{subSideBar}}
                    </li>
                </ol>
            </nav>

            <ng-container *ngIf="seletectSideNavbar === 'Home'; else elseBlock">
                <div class="table-wrp">
                    <!---------table-------->
                    <app-table></app-table>
                </div>
            </ng-container>
            <ng-template #elseBlock>
                <app-reports (subSideNav)="getSelectedSubSideNav($event)" [sideNav]="seletectSideNavbar"></app-reports>
            </ng-template>
        </div>
    </div>
</div>